<h2 id="topo">Documentação APIs</h2>
<hr>
<h3>Índice</h3>
<a href="#vagas">Vagas</a>
<br><a href="#pessoas">Pessoas</a>
<br><a href="#candidaturas">Candidaturas</a>
<br><a href="#ranking">Ranking</a>
<hr id="vagas">
<a href="#topo">voltar ao índice</a>
<h3>Vagas</h3>
<h4>Vagas - Cria uma vaga</h4>

<div class="alert alert-info">
    <span class="label label-info">POST</span>
    http://localhost:9000/v1/vagas
</div>

<h4>Request Body</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>empresa</td>
            <td>Nome da empresa para qual a vaga pertence</td>
            <td>text</td>
        </tr>
        <tr>
            <td>titulo</td>
            <td>Título da vaga</td>
            <td>text</td>
        </tr>
        <tr>
            <td>descrição</td>
            <td>Descrição da vaga</td>
            <td>text</td>
        </tr>
        <tr>
            <td>localizacao</td>
            <td>Localização da vaga</td>
            <td>char</td>
        </tr>
        <tr>
            <td>nivel</td>
            <td>Nível do candidato esperado</td>
            <td>int</td>
        </tr>
    </tbody>
</table>
<pre>
    <code>
    {
        "empresa": "Teste",
        "titulo": "Vaga teste",
        "descricao": "Criar os mais diferentes tipos de teste",
        "localizacao": "A",
        "nivel": 3
    }
    </code>
</pre>

<h4>Response Body</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>code</td>
            <td>Código de sucesso ou erro</td>
            <td>int</td>
        </tr>
        <tr>
            <td>message</td>
            <td>Mensagem com informações da requisição</td>
            <td>text</td>
        </tr>
        <tr>
            <td>id</td>
            <td>Identificador único da vaga</td>
            <td>int</td>
        </tr>
        <tr>
            <td>href</td>
            <td>Endpoint para obter informações da vaga recém criada</td>
            <td>text</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success">
    <span class="label label-success">201 Created</span>
    Success
</div>
<pre>
    <code>
    HTTP/1.1 201 Created
    {
        "code":201,
        "message":"Vaga criada com sucesso",
        "id":"23",
        "href":"/v1/vagas/23"
    }
    </code>
</pre>

<div class="alert alert-warning">
    <span class="label label-warning">400 Bad Request</span>
    Error
</div>
<pre>
    <code>
    HTTP/1.1 400 Bad Request
    {
        "code":40001,
        "message":"Erro ao tentar criar vaga. Payload nao pode ser vazio."
    }
    </code>
</pre>

<h4>Códigos de Response</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>201</td>
            <td>Vaga criada com sucesso</td>
        </tr>
        <tr>
            <td>40001</td>
            <td>Erro ao tentar criar vaga. Payload nao pode ser vazio.</td>
        </tr>
        <tr>
            <td>40002</td>
            <td>Erro ao tentar criar vaga. Campo 'empresa' obrigatorio</td>
        </tr>
        <tr>
            <td>40003</td>
            <td>Erro ao tentar criar vaga. Campo 'titulo' obrigatorio</td>
        </tr>
        <tr>
            <td>40004</td>
            <td>Erro ao tentar criar vaga. Campo 'descricao' obrigatorio</td>
        </tr>
        <tr>
            <td>40005</td>
            <td>Erro ao tentar criar vaga. Localizacao inexistente: {localização}</td>
        </tr>
        <tr>
            <td>40006</td>
            <td>Erro ao tentar criar vaga. Campo 'localizacao' obrigatorio</td>
        </tr>
        <tr>
            <td>40007</td>
            <td>Erro ao tentar criar vaga. Nivel inexistente: {nivel}</td>
        </tr>
        <tr>
            <td>40008</td>
            <td>Erro ao tentar criar vaga. Campo 'nivel' obrigatorio</td>
        </tr>
    </tbody>
</table>

<hr id="pessoas">
<a href="#topo">voltar ao índice</a>
<h3>Pessoas</h3>
<h4>Pessoas - Cria um candidato</h4>

<div class="alert alert-info">
    <span class="label label-info">POST</span>
    http://localhost:9000/v1/pessoas
</div>

<h4>Request Body</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>nome</td>
            <td>Nome do candidato</td>
            <td>text</td>
        </tr>
        <tr>
            <td>profissao</td>
            <td>Profissão do candidato</td>
            <td>text</td>
        </tr>
        <tr>
            <td>localizacao</td>
            <td>Localização do candidato</td>
            <td>char</td>
        </tr>
        <tr>
            <td>nivel</td>
            <td>Nível do candidato</td>
            <td>int</td>
        </tr>
    </tbody>
</table>
<pre>
    <code>
    {
        "nome": "John Doe",
        "profissao": "Engenheiro de Software",
        "localizacao": "C",
        "nivel": 2
    }
    </code>
</pre>

<h4>Response Body</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>code</td>
            <td>Código de sucesso ou erro</td>
            <td>int</td>
        </tr>
        <tr>
            <td>message</td>
            <td>Mensagem com informações da requisição</td>
            <td>text</td>
        </tr>
        <tr>
            <td>id</td>
            <td>Identificador único do candidato</td>
            <td>int</td>
        </tr>
        <tr>
            <td>href</td>
            <td>Endpoint para obter informações do candidato recém criado</td>
            <td>text</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success">
    <span class="label label-success">201 Created</span>
    Success
</div>
<pre>
    <code>
    HTTP/1.1 201 Created
    {
        "code":201,
        "message":"Candidato criado com sucesso.",
        "id":"15",
        "href":"/v1/pessoas/15"
    }
    </code>
</pre>

<div class="alert alert-warning">
    <span class="label label-warning">400 Bad Request</span>
    Error
</div>
<pre>
    <code>
    HTTP/1.1 400 Bad Request
    {
        "code":40001,
        "message":"Erro ao tentar criar candidato. Payload nao pode ser vazio."
    }
    </code>
</pre>

<h4>Códigos de Response</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>201</td>
            <td>Candidato criado com sucesso</td>
        </tr>
        <tr>
            <td>40001</td>
            <td>Erro ao tentar criar candidato. Payload nao pode ser vazio.</td>
        </tr>
        <tr>
            <td>40002</td>
            <td>Erro ao tentar criar candidato. Campo 'nome' obrigatorio</td>
        </tr>
        <tr>
            <td>40003</td>
            <td>Erro ao tentar criar candidato. Campo 'profissao' obrigatorio</td>
        </tr>
        <tr>
            <td>40004</td>
            <td>Erro ao tentar criar candidato. Localizacao inexistente: {localização}</td>
        </tr>
        <tr>
            <td>40005</td>
            <td>Erro ao tentar criar candidato. Campo 'localizacao' obrigatorio</td>
        </tr>
        <tr>
            <td>40006</td>
            <td>Erro ao tentar criar candidato. Nivel inexistente: {nivel}</td>
        </tr>
        <tr>
            <td>40007</td>
            <td>Erro ao tentar criar candidato. Campo 'nivel' obrigatorio</td>
        </tr>
    </tbody>
</table>

<hr id="candidaturas">
<a href="#topo">voltar ao índice</a>
<h3>Candidaturas</h3>
<h4>Candidaturas - Cria uma candidatura</h4>

<div class="alert alert-info">
    <span class="label label-info">POST</span>
    http://localhost:9000/v1/candidaturas
</div>

<h4>Request Body</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id_vaga</td>
            <td>Identificador único da vaga</td>
            <td>int</td>
        </tr>
        <tr>
            <td>id_pessoa</td>
            <td>Identificador único do candidato</td>
            <td>int</td>
        </tr>
    </tbody>
</table>
<pre>
    <code>
    {
        "id_vaga": 1,
        "id_pessoa": 2
    }
    </code>
</pre>

<h4>Response Body</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>code</td>
            <td>Código de sucesso ou erro</td>
            <td>int</td>
        </tr>
        <tr>
            <td>message</td>
            <td>Mensagem com informações da requisição</td>
            <td>text</td>
        </tr>
        <tr>
            <td>id</td>
            <td>Identificador único da candidatura</td>
            <td>int</td>
        </tr>
        <tr>
            <td>href</td>
            <td>Endpoint para obter informações da candidatura recém criada</td>
            <td>text</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success">
    <span class="label label-success">201 Created</span>
    Success
</div>
<pre>
    <code>
    HTTP/1.1 201 Created
    {
        "code":201,
        "message":"Candidatura criada com sucesso.",
        "id":"30",
        "href":"/v1/candidaturas/30"
    }
    </code>
</pre>

<div class="alert alert-warning">
    <span class="label label-warning">400 Bad Request</span>
    Error
</div>
<pre>
    <code>
    HTTP/1.1 400 Bad Request
    {
        "code":40001,
        "message":"Erro ao tentar criar candidatura. Payload nao pode ser vazio."
    }
    </code>
</pre>

<h4>Códigos de Response</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>200</td>
            <td>Candidato previamente ja cadastrado na vaga.</td>
        </tr>
        <tr>
            <td>201</td>
            <td>Candidatura criada com sucesso</td>
        </tr>
        <tr>
            <td>40001</td>
            <td>Erro ao tentar criar candidatura. Payload nao pode ser vazio.</td>
        </tr>
        <tr>
            <td>40002</td>
            <td>Erro ao tentar criar candidatura. Pessoa nao encontrada com id: {id_pessoa}</td>
        </tr>
        <tr>
            <td>40003</td>
            <td>Erro ao tentar criar candidatura. Parametro 'id_pessoa' obrigatorio.</td>
        </tr>
        <tr>
            <td>40004</td>
            <td>Erro ao tentar criar candidatura. Vaga nao encontrada com id: {id_vaga}</td>
        </tr>
        <tr>
            <td>40005</td>
            <td>Erro ao tentar criar candidatura. Campo 'id_vaga' obrigatorio</td>
        </tr>
    </tbody>
</table>

<hr id="ranking">
<a href="#topo">voltar ao índice</a>
<h3>Ranking de candidaturas para uma vaga</h3>
<h4>Ranking de candidaturas para uma vaga - Retorna ranking de candidatos para uma vaga</h4>

<div class="alert alert-info">
    <span class="label label-info">GET</span>
    http://localhost:9000/v1/vagas/:id_vaga/candidaturas/ranking
</div>

<h4>Parâmetro</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id_vaga</td>
            <td>Identificador único da vaga</td>
            <td>int</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-success">
    <span class="label label-success">200 OK</span>
    Success
</div>
<pre>
    <code>
    HTTP/1.1 200 OK
    [
        {
            "nome": "Mary Jane",
            "profissao": "Engenheira de Software",
            "localizacao": "A",
            "nivel": 4,
            "score": 100
        },
        {
            "nome": "John Doe",
            "profissao": "Engenheiro de Software",
            "localizacao": "C",
            "nivel": 2,
            "score": 85
        },
        ...
    ]
    </code>
</pre>

<div class="alert alert-warning">
    <span class="label label-warning">400 Bad Request</span>
    Error
</div>
<pre>
    <code>
    HTTP/1.1 400 Bad Request
    {
        "code":40001,
        "message":"Erro ao tentar pegar o ranking para vaga. Parametro 'id_vaga' obrigatorio."
    }
    </code>
</pre>

<h4>Códigos de Response</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>40001</td>
            <td>Erro ao tentar pegar o ranking para vaga. Parametro 'id_vaga' obrigatorio.</td>
        </tr>
        <tr>
            <td>40002</td>
            <td>Erro ao tentar pegar o ranking para vaga. Vaga nao encontrada com id: {id_vaga}</td>
        </tr>
    </tbody>
</table>